.logo-tec{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-size:50px; 
    background-repeat: no-repeat;
    background-position: 50%;
    background-color:#d3d5d6; 
}
.logo-tec.git{
background-image:  url(../img/logos/git.png);
}